.privacy-policy{
width: 100%;
background-color: white;
height: 100%;
font-family: ideamet;
font-weight: 500;
display: flex;
justify-content: center;
align-items: center;
padding-top: 150px;
}

.privacy-policy-container{
width: 50%;
display: flex;
flex-direction: column;
}
@media screen and (max-width:960px){
    .privacy-policy{
        padding-top: 50px;
    }
    .privacy-policy-container{
        width: 100%;
        padding: 10%;
    }
}


.pp-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pp-points{
    display: flex;
    flex-direction: column;
}
.pp-heading{
font-size: var(--fs-64);
padding-bottom: 5%;
}
.pp-subhead{
    font-size: var(--fs-24);
}
.pp-description{
    font-size: var(--fs-16);
}
.pp-description li{
    list-style: none;
}